#!/usr/bin/make -f

GOPATH=$(CURDIR)/build-go

override_dh_auto_clean:
	[ ! -d build-go ] || find build-go -type d|xargs chmod 755
	rm -rf build-go install-go debian/podman vendor
	dh_clean

override_dh_auto_build:
	export GOPATH=$(GOPATH) && \
	mkdir -p $$GOPATH && \
	make vendor && \
	mkdir -p $(GOPATH)/src/github.com && \
	ln -sf ../../../vendor/github.com/varlink $(GOPATH)/src/github.com && \
	unset LDFLAGS && \
	make BUILDTAGS="selinux seccomp exclude_graphdriver_btrfs" && \
	make DESTDIR=$(CURDIR)/install-go PREFIX=/usr install

override_dh_auto_test:
	true

override_dh_auto_install:
	mv install-go debian/podman

%:
	dh $@
